<div class="row">
  <div class="col-md-12">
    <h3>Add a Question:</h3>
    <em>Choose which type of question to add.</em>

    <%= form_for [survey, question] do |f| %>
      <%= f.select  :question_type_id,
                             question_types,
                             {}, { class: 'form-control' }%>

      <%= f.submit( "Add a New Question",
                    class: "btn btn-primary" ) %>
    <% end %>
  </div>
</div>
