<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render partial: 'shared/survey_builder', locals: { survey: @survey } %>
    <hr>

    <%= render partial: @question.question_type.name.parameterize("_"),
                locals: { survey:   @survey,
                          question: @question
                        } %>
    <hr>

    <%= render partial: 'questions/show_questions', locals: { survey: @survey,
                                                              questions: @survey.questions } %>

    <hr>

    <%= link_to( "Finish Building Survey and Return",
                 @survey,
                 class: "btn btn-primary") %>
  </div>
</div>
