<h1>Survey Builder</h1>

<%= render partial: 'shared/errors', locals: { object: survey } %>

<p>Next, fill in the questions.</p>

<h3>Title:</h3>
<p><%= survey.title %></p>

<h3>Description:</h3>
<p><%= survey.description %></p>
