@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  list-style-type: none;
  display: inline;
}

.btn {
  margin: 15px 0px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
